
.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #EEE0CB;
}
.info-container h3 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.info-container img {
    border-radius: 10px;
}

/*Mobilanpassat*/
@media (max-width: 767px) {
    .info-container {
        height: 80vh;
    }
    .info-container h3 {
        font-size: 1.5em;
    }
    .info-container img {
        width: 70%;
    }
}
