@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Bebas+Neue&family=Grape+Nuts&family=Poppins:wght@700&family=Roboto+Mono:ital,wght@1,700&family=Titillium+Web:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}


:root {
--mainColor: black;
--mainColorLight: #747bff;
--mainColorDark: #535bf2;
--mainColorDarker: #3a3ff2;
--secondaryColor: #ff6464;
--textColor: black;
--textColorNav: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30vh;
  padding: 0 2rem;
  background-image: url('./images/background.jpeg'); /* Lägg till sökvägen till din bild */
  background-size: cover; /* Justera storleken på bakgrundsbilden efter behov */
  background-repeat: no-repeat; /* Förhindra upprepning av bakgrundsbilden */
  background-position: center 35%; /* Centrera bakgrundsbilden */
  color: var(--textColor);
}

nav a {
margin: 0 2rem;
font-size: large;
color: var(--textColorNav);
text-decoration: none;
}


nav a:hover {
color: var(--secondaryColor);
}

header .nav-btn {
padding: 5px;
background-color: transparent;
border: none;
cursor: pointer;
outline: none;
background: transparent;
color: var(--textColor);
visibility: hidden;
opacity: 0;
font-size: 1.8rem;
}

@media only screen and (max-width: 768px){
header .nav-btn {
  visibility: visible;
  opacity: 1;
  margin-left: auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0 2rem;
  background-image: url('./images/background.jpeg'); /* Lägg till sökvägen till din bild */
  background-size: cover; /* Justera storleken på bakgrundsbilden efter behov */
  background-repeat: no-repeat; /* Förhindra upprepning av bakgrundsbilden */
  background-position: center 30%; /* Centrera bakgrundsbilden */
  color: var(--textColor);
}

header nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: var(--mainColor);
  transition: 0.5s;
  transform: translateY(-100vh);
  opacity: 0.9;
}

header .responsive_navbar {
  transform: none;
}

nav .nav-close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  background: transparent;
  color: var(--textColor);
}

nav a {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

}


  /* Stilar för iPad (768px - 1024px) */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
   
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 20vh;
      padding: 0 2rem;
      background-image: url('./images/background.jpeg'); /* Lägg till sökvägen till din bild */
      background-size: cover; /* Justera storleken på bakgrundsbilden efter behov */
      background-repeat: no-repeat; /* Förhindra upprepning av bakgrundsbilden */
      background-position: center 30%; /* Centrera bakgrundsbilden */
      color: var(--textColor);
    }

  }