.services {
    text-align: center;
    padding: 2rem;
    height: 100vh;
  }
  
  .service-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 40px;
    
  }
  
  .service {
    background-color: #839788;
    padding: 1rem;
    border-radius: 5px;
    width: 30%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }

  #Daycare-label {
    margin-bottom: 20%;
  }
  
  .service h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .services h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  #klo-h3, #pris-h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  
  .service p {
    font-size: 1rem;
  }
  
  /*Mobilanpassat*/
  @media (max-width: 767px) {
    .service-container {
      flex-direction: column;
      align-items: center;
    }
  
    .services {
      text-align: center;
      padding: 2rem;
      height: auto; /* Remove the fixed height to allow content to expand */
    }
  
    .service {
      width: 80%; /* Adjust the width to your preference */
      margin: 1rem 0; /* Add some vertical margin to separate the service elements */
    }
  
    /* You can adjust other styles as needed for better mobile presentation */
  }
  
  