/* Start.css */

.start-section {
  background-color: white; /* Bakgrundsfärg för hela sektionen */
  padding: 20px;
  text-align: center;
  color: #333; /* Textfärg */
}

.start-grid {
  display: grid;
  gap: 20px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff; /* Bakgrundsfärg för varje fält */
  border-radius: 8px;
  text-align: center;
}

.item-content {
  display: flex;
  align-items: center;
  width: 100%; /* Tar upp hela bredden av fältet */
  padding: 20px;
}

.image-box {
  flex: 1; /* Bildrutan tar upp 1/2 av utrymmet */
  margin-right: 20px; /* Avstånd mellan bild- och textrutan */
  margin-left: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.text-box {
  flex: 1; /* Textrutan tar upp 1/2 av utrymmet */
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
}


/* Stilar för mobila enheter med en maximal bredd på 768px */
@media screen and (max-width: 768px) {
  .item-content {
    flex-direction: column; /* Ändra riktningen till kolumn */
    align-items: center; /* Centrera innehållet vertikalt */
    text-align: center; /* Centrera texten horisontellt */
  }

  .image-box,
  .text-box {
    flex: 1; /* Ta upp hela bredden av fältet */
    margin: 0; /* Ta bort marginaler mellan bild och text */
  }

  .image-box {
    margin-bottom: 10px; /* Lägg till lite avstånd under bilden */
  }
}

