/* Start.css */

.start-section {
  background-color: white; /* Bakgrundsfärg för hela sektionen */
  padding: 20px;
  text-align: center;
  color: #333; /* Textfärg */
}

.start-grid {
  display: grid;
  gap: 20px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff; /* Bakgrundsfärg för varje fält */
  border-radius: 8px;
  text-align: center;
}

.item-content {
  display: flex;
  width: 100%; /* Tar upp hela bredden av fältet */
  padding: 20px;
}

.image-box {
  flex: 1; /* Bildrutan tar upp 1/2 av utrymmet */
  margin-right: 20px; /* Avstånd mellan bild- och textrutan */
}

img {
  max-width: 100%;
  height: auto;
}

.text-box {
  flex: 1; /* Textrutan tar upp 1/2 av utrymmet */
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
}

